/* TODO remove 👇 */
tr.tableRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rowDataImgWrapper{
  display: flex;
  justify-content: center;
  width: 150px;
}
.rowPlayButtonWrapper{
  display: flex;
  justify-content: center;
  width: 60px;
}
/* TODO remove 👆 */


.rowDataImg {
  --img-size: 6rem;
  width: var(--img-size);
  height: var(--img-size);
  aspect-ratio: 1/1;
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.rowDataAvailability,
.rowDataAlbum,
.rowDataArtist {
  padding-left: 1em;
}
.rowDataAlbum {
  display: flex;
  flex-direction: column;
  gap: var(--g-2);
  width: 100%;
  padding: 1em;
}

.rowDataAlbum p {
  margin: 0;
  padding: 0;
}
.rowDataAlbum p:first-child {
  font-weight: 800;
}

.rowDataAvailability {
  content: '';
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: rgb(38, 208, 81); */
}
.unavailable {
  background-color: rgb(208, 44, 38);
}

.rowDataCentered {
  display: flex;
  align-items: center;
}

input[type="checkbox"].rowDataCheckbox{
  display: 'none'
}

.rowDataCheckboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowDataCheckboxLabel {
  --label-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background: inherit;
  border-radius: 50%;
  width: var(--label-size);
  height: var(--label-size);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-color:var(--grey-500);
  border-width: 2px;
  border-style: solid;
}

.rowDataCheckboxLabel svg {
  fill: var(--white);
}

.rowDataCheckboxLabel:hover {
  background-color: var(--bg-dark-1);
}
/* .rowDataCheckboxLabel:hover svg {
  fill: var(--dark-1);
} */

.albumItemSoldOut {
  content: '';
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 0;
}

.playButton {
  background-color: inherit;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50% ;
  transition: 
    background-color 200ms ease-in-out
    ;
}

.playButton.isDisabled {
  opacity: 0.5;
}

.playButton:not(.isDisabled):hover  {
  background-color: var(--bg-dark-1);
}

.playButton.isPlaying svg,
.playButton:not(.isDisabled):focus svg,
.playButton:not(.isDisabled):hover svg {
  fill: var(--yellow-4)
}



/* Mobile size layout */
@media screen and (max-width: 430px) {
  .rowDataImg {
    --img-size: 5rem;
  }
  .rowDataAvailability,
  .rowDataAlbum,
  .rowDataArtist {
    padding-left: var(--p-1);
  }
  .rowDataAlbum {
    gap: var(--g-0);
    /* width: 100%; */
    padding: var(--p-1);
  }
  .rowDataAlbum p:first-child {
    /* font-weight: 800; */
  }
  .rowDataCheckboxLabel {
    --label-size: 1em;
    padding: var(--p-2);
  }
  /* COLUMN WIDTHS */
  .rowDataImgWrapper{
    width: 100px;
  }
  .rowPlayButtonWrapper{
    width: 60px;
  }
}