#albumCollection {
  background: rgba(230, 230, 230, 0.25);
}
.albumCollection {
  background: rgba(230, 230, 230, 0.25);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: scroll */
}

.playlistEmptyContainer {
  flex: 1;
  background-color:rgba(230, 230, 230, 0.25);
  min-height: 100%;
  display: grid;
  place-items: center;
}


.headerAlbumView > *,
.headerAlbumView {
  padding: 0;
  margin: 0;
}

.headerPlaylistView,
.headerAlbumView{
  /* background-color: red; */
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: .5em;
}

/* Just modify the playlist view */
.headerPlaylistView {
  justify-content: space-between;
}

.headerPlaylistView fieldset {
  border: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.tracksCollectionStats {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.tracksCollectionStats p {
  padding: 0;
  margin: 0;
}

.playlistTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.playlistTitleInput {
  padding: 0;
  margin: 0;
  border: transparent;
  font-size: 1.17em; 
  font-weight: bold; 
  padding: .25em .5em;
  background-color: inherit;
  /* background-color: blue; */

}
.playlistTitle h3 {
  margin: 0;
}

.createPlaylistButton {
  background-color: rgb(244, 235, 70);
  border-color: rgb(244, 235, 70);
  color: #242424;
}
.createPlaylistButton svg {
  fill: #242424;
}
.createPlaylistButton:hover {
  background-color: #242424;
  border-color: rgb(244, 235, 70);
  color: #E4E4E4; 
  /* box-shadow: rgb(244, 235, 70) 0px 0px 5px; */
}
.createPlaylistButton:hover svg {
  fill:  #E4E4E4;
}

dialog {
  width: 60dvw;
  height: 30dvw;
}

 dialog[open].dialogCreatePlaylist {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #242424;
  border-radius: 8px;
  color: #E4E4E4;
}
dialog[open].dialogCreatePlaylist::backdrop  {
  background-color: rgba(82, 82, 82, 0.602);
}
