
.dialogSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2rem;
}

.dialogSection:has(.toastNotification){
  gap: .5em;
}

.logosContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.faradaylogo {
  width: 7em;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
}

.playlistTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.playlistTitleInputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 100%; */
}

.playlistTitle textarea.playlistTitleInput {
  font-size: 2em;
  font-weight: bold;
  color: var(--white);
}

.playlistTitle label {
  position: absolute;
  opacity: 0;
}

textarea.playlistTitleInput {
  padding: 0;
  margin: 0;
  border: transparent;
  padding: .5em .5em;
  background-color: inherit;
  resize: none;
  min-height: 2rem;
  text-align: center;

  border-bottom:  2px solid #E4E4E4;
}


.sendPlaylistButton {
  background-color: rgb(244, 235, 70);
  border-color: rgb(244, 235, 70);
  border-style: solid;
  color: #242424;
  width: fit-content;
}
.sendPlaylistButton svg {
  fill: #242424;
}
.sendPlaylistButton:focus,
.sendPlaylistButton:hover {
  background-color: rgb(116, 111, 5);
  border-color: rgb(244, 235, 70);
  color: rgb(244, 235, 70);
}
.sendPlaylistButton:focus svg,
.sendPlaylistButton:hover svg {
  fill:  rgb(244, 235, 70);
}

.playlistTitleEditIcon {
  position: absolute;
  right: 0;
  top: 1em;
  transform: translateX(0em);
  opacity: 0;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
.playlistTitleEditIcon.hasFocus {
  transform: translateX(calc(100% + .5em));
  opacity: 1;
}


.toastNotification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5em 1.5em;
  gap: 1em;
  width: 80%;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
}

.errorMessage {
  background-color: rgb(209, 106, 106);
  border-color: rgb(162, 15, 15);
  color: rgb(162, 15, 15);
}
.errorMessage svg {
  fill: rgb(162, 15, 15);
}
.successMessage {
  background-color: rgb(106, 209, 108);
  border-color: rgb(11, 105, 15);
  color: rgb(11, 105, 15);
}
.successMessage svg {
  fill: rgb(11, 105, 15);
}

.dialogButton{
  padding: var(--p-2) var(--p-4);
}

@media screen and (max-width: 430px) {
  .faradaylogo {
    width: 75px;
  }
}