/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_albums {
  border-spacing: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0 1em;
}

.table_albums thead {
  padding: var(--p-2);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--bg-dark-3);
  background-color: var(--bg-dark-1);
}

.table_albums th.albumTableHeader {
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  position: sticky;
  top: 2.5rem;
  z-index: 50;
  padding-top: var(--p-2);
  padding-bottom: var(--p-2);
  justify-content: center;
}

.table_albums tr,
.table_albums td
{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Default Display Table Row - limits effective Css */
.table_albums .albumRows {
  background: inherit;
  text-align: left;
}
.table_albums .albumRows:hover {
  background:     var(--bg-dark-3);
}

.table_albums .albumRows.albumRowsSelected {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bg-dark-4);
  background-color: var(--grey-700);
}
.table_albums .albumRows.albumRowsAddedToPlaylist {
  outline: 1px solid var(--yellow-4);
  outline-offset: -1px;
  background-color: rgba(229, 141, 26, 0.25);
}

/* Mobile size layout */
@media screen and (max-width: 430px) {
  .table_albums {
    padding: 0;
  }
}