/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_albums {
  border-spacing: 0;
  margin: 0 auto;
  --trackListRowHeight: 4rem;
  --trackListNumTracks: 3;
  width: 100%;
  /* width: calc(100% - 4rem); */
  /* width: calc(100% - 2rem); */
  padding: 0 1em;
  /* position: relative; */
  /* overflow: auto; */
}

.table_albums thead {
  padding: var(--p-2);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--bg-dark-3);
}


.table_albums th.albumTableHeader {
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  background-color: var(--bg-dark-1);
  position: sticky;
  top: 2.5rem;
  z-index: 50;
  /* min-width: 5rem; */
  /* padding: var(--p-2); */
  /* padding-top: var(--p-2); */
  padding-top: var(--p-2);
  padding-bottom: var(--p-2);
  justify-content: center;
}

.table_albums tr,
.table_albums td
{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Default Display Table Row - limits effective Css */
.table_albums .albumRows {
  background: inherit;
  text-align: left;
}
.table_albums .albumRows:hover {
  background:     var(--bg-dark-3);
}


.table_albums .albumRows.albumRowsSelected {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bg-dark-4);
  background-color: var(--grey-700);
}
.table_albums .albumRows.albumRowsAddedToPlaylist {
  outline: 1px solid var(--yellow-4);
  outline-offset: -1px;
  background-color: rgba(229, 141, 26, 0.25);
}

/* Album Track list styles */
/* Table row wrapper to match table row width */
.table_albums .tableRowWidth {
  display: table-row;
  background-color: rgba(229, 141, 26, 0.25);
}

/* Container start state */
.table_albums .albumTrackList {
  background-color: var(--bg-dark);
  max-height: 0;  /* Start at 0 height for the collapsed state */
  overflow: hidden; /* Hide content when collapsed */
  transition: max-height 500ms ease; /* Transition the height */
}

/* Container open state */
.table_albums .albumTrackList.albumTrackListOpen {
  max-height: calc(var(--trackListNumTracks) * var(--trackListRowHeight)); /* Allow it to expand */
}


.trackTableContainer {
  grid-area: table;
  height: 0px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-3);
  /* background-color: var(--bg-dark-1); */
  transition: 
    transform 0.2s ease-in-out, 
    opacity 0.2s ease-in-out,
    height 0.2s ease-in-out;
}
.trackTableContainer.isClosed{
  transform: translateX(-100%);
  opacity: 0;
  /* visibility: hidden; */
}
.trackTableContainer.isOpen{
  transform: translateX(-0);
  opacity: 1;
  /* visibility: visible; */
}

.trackTableContainer .trackTableHeader {
  display: grid;
  grid-template-columns: 0.25fr 1fr 3fr 1fr;
  grid-row: 1fr;
  grid-template-areas: 
    "closeButton albumImg albumInfo albumStats"
  ;
  gap: var(--p-5);
  padding: var(--p-3);
  margin-bottom: var(--m-2);
}

.trackTableHeader .closeOverlayButton {
  --btn-size: 3rem;
  grid-area: closeButton;
  cursor: pointer;
  color: var(--grey-100);
  font-size: 1rem;
  text-align: center;
  height: var(--btn-size);
  width: var(--btn-size);
  aspect-ratio: 1/1;
  /* padding: var(--p-1); */
  border-radius: 50%;
}

.trackTableHeader .trackTableHeaderImg {
  grid-area: albumImg;
  width: 10rem;
  aspect-ratio: 1/1;
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.trackTableHeader h2,
.trackTableHeader h3,
.trackTableHeader p {
  padding: 0;
  margin: 0;
}

.trackTableHeader .trackTableHeaderAlbumInfo,
.trackTableHeader .trackTableHeaderAlbumStats {
  text-align: left;
  display: flex;
  align-self: end;
  justify-content: space-between;
}

.trackTableHeader .trackTableHeaderAlbumInfo {
  grid-area: albumInfo;
  flex-direction: column;
}
.trackTableHeader .trackTableHeaderAlbumInfo h2 {
  font-size: 2.5rem;
}
.trackTableHeader .trackTableHeaderAlbumStats {
  grid-area: albumStats;
  gap: var(--p-3);
  flex-wrap: wrap;
  justify-content: flex-start;
}