/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_albums {
  border-spacing: 0;
  margin: 0 auto;
  --trackListRowHeight: 4rem;
  --trackListNumTracks: 3;
  width: calc(100% - 4rem);
}

.table_albums tr,
.table_albums td
{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.table_albums .albumRows {
  background: inherit;
  text-align: left;
}
.table_albums .albumRows:hover {
  background: rgba(201, 201, 200, 0.411);
}


/* Album Track list styles */
/* Table row wrapper to match table row width */
.table_albums .tableRowWidth {
  display: table-row;
  background-color: rgba(229, 141, 26, 0.25);
}

/* Container start state */
.table_albums .albumTrackList {
  background-color: rgba(200, 124, 23, 0.634);
  max-height: 0;  /* Start at 0 height for the collapsed state */
  overflow: hidden; /* Hide content when collapsed */
  transition: max-height 500ms ease; /* Transition the height */
}

/* Container open state */
.table_albums .albumTrackList.albumTrackListOpen {
  max-height: calc(var(--trackListNumTracks) * var(--trackListRowHeight)); /* Allow it to expand */
}