/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_tracks {
  display: table;
  border-spacing: 0;
  margin: 0 auto;
  --trackListRowHeight: 3rem;
  --trackListNumTracks: 3;
  width: calc(100% - 4rem)
}

.table_tracks tr {
  display: table-row;
}

.table_tracks th {
  display: table-header;
  text-align: left;
  cursor: pointer;
}

.table_tracks td {
  display: table-cell;
}

.table_tracks th,
.table_tracks tr,
.table_tracks td
{
  margin: 0;
  padding: 0;
  cursor: default;
}

.table_tracks .trackRows {
  background: inherit;
  text-align: left;
}
/* .table_tracks .albumRows:hover {
  background: rgba(201, 201, 200, 0.411);
} */
