
/* Shared with headerAlbumView */
.headerPlaylistView{
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: .5em;
}

/* Just modify the playlist view */
.headerPlaylistView {
  justify-content: space-between;
}

.headerPlaylistView fieldset {
  border: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: .5em;
}
