
/* Shared with headerAlbumView */
.headerPlaylistView{
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: .5em;
  border-bottom: 1px solid #252525;
  position: sticky;
  top: 0; /* Stick to the top of the container */
  z-index: 100;
  background-color: grey;
}

/* Just modify the playlist view */
.headerPlaylistView {
  justify-content: space-between;
}

.headerPlaylistView fieldset {
  border: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.createPlaylistButton {
  background-color: rgb(244, 235, 70);
  border-color: rgb(244, 235, 70);
  border-style: solid;
  color: #242424;
  width: fit-content;
}
.createPlaylistButton svg {
  fill: #242424;
}

.createPlaylistButton:focus,
.createPlaylistButton:hover {
  background-color: rgb(116, 111, 5);
  border-color: rgb(244, 235, 70);
  color:rgb(244, 235, 70); 
}
.createPlaylistButton:focus svg,
.createPlaylistButton:hover svg {
  fill: rgb(244, 235, 70);
}

.disabledButton:hover,
.disabledButton:focus,
.disabledButton {
  background-color: #242424;
  border-color: inherit;
  color: #E4E4E4;
  opacity: .7;
}

.disabledButton:hover svg,
.disabledButton:focus svg,
.disabledButton svg {
  fill:  #E4E4E4;
}

.resetButton{
  /* font-weight: 300;
  background-color: rgb(244, 235, 70); */
}