
.playlistViewContainer { 
  display: grid;
  grid-template-areas: 
    "header"
    "playlist"
  ;
}

.playlistEmptyContainer {
  flex: 1;
  background-color:var(--bg-dark-1);
  /* Setting height here breaks the table scroll */
  /* min-height: 60dvh; */
  display: grid;
  place-items: center;
}

.IsLoadingContainer {
  padding: 2em;
}

.IsLoadingContainer .logo {
  width: 3em;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
  animation: logoRotate forwards 2s linear infinite;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}