.table_tracks td.trackRowDataImg {
  /* width: 2rem; */
}

.trackRowDataImg {
  width: 2rem;
  aspect-ratio: 1/1;
  content: '';
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
}

.rowDataTrack {
  padding-left: 0em;
}

.rowDataTrack p {
  margin: 0;
  padding: 0;
}

.rowDataTrack p:first-child {
  font-weight: 800;
}
.rowDataTrack p:nth-child(2) {
  font-size: 0.9rem;
}

td:has(input.rowDataTrack) {
  width: 3rem;
}

input[type="checkbox"].rowDataCheckbox{
  display: 'none'
}

.rowDataCheckboxLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.rowDataCentered {
  display: flex;
  align-items: center;
}

.playButton {
  background-color: inherit;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50% ;
  transition: 
    background-color 200ms ease-in-out
    ;
}

.playButton.isDisabled {
  opacity: 0.5;
}

.playButton:not(.isDisabled):hover  {
  background-color: var(--bg-dark-1);
}
.playButton.isPlaying svg,
.playButton:not(.isDisabled):focus svg,
.playButton:not(.isDisabled):hover svg {
  fill: var(--yellow-4)
}