
.leftSidebar {
  grid-area: left-sidebar;
  height: 100%;
  background-color: var(--bg-dark-2);
  border-radius: var(--r-2);
}

/* reset */
.playlistCollection,
.playlistHeader,
.playlistHeader h4,
.playlistHeaderButton,
.playlistItem,
.playlistItem img,
.playlistItem p {
 padding: 0;
 margin: 0;
}

.playlistHeader{
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: .25em;
  container-type: inline-size;
}


.playlistHeaderButtonSelected{
  border-color: #FFFF00;
}
.playlistHeader span {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5em;
  padding: .5em;
  border-radius: 8px;
}
.playlistHeader span h4 {
}


.playlistContainer {
  padding: 1em;
}

.playlistCollection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.playlistItem,
.playlistItemBgImg,
.playlistItem img.playlistItemImg {
  border-radius: 8px;
}

/* spotify img */
.playlistItemBgImg {
  content: '';
  min-width: 50px;
  min-height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

/* fallback img */
.playlistItem img.playlistItemImg {
  width: 50px;  /* Set the width */
  height: auto;  /* Adjusts the height proportionally */
  object-fit: contain; /* Maintains aspect ratio without cropping */
  margin-right: 1rem;
}

.playlistItem{
  list-style: none;
  display: flex;
  cursor: pointer;
}

.playlistItemInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: .25em .5em;
  gap: .15rem;
}
.playlistItemInfo:hover{
  background: rgba(201, 201, 200, 0.411);
}

/* Tablet size layout */
@media screen and (max-width: 820px) {
  .leftSidebar {
    height: fit-content;
    border-radius: var(--r-0);
  }
  .playlistHeader{
    flex-direction: row;
    justify-content: start;
  }
}

/* Mobile size layout */
@media screen and (max-width: 430px) {
  .leftSidebar {
    height: 100% ;
    border-radius: var(--r-0);
    padding-top: var(--p-1);
  }
  .playlistHeader{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
