.headerAlbumDetail {
  min-height: 2rem;
}

.trackTableContainer {
  grid-area: table;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-dark-1);
}

.trackTableContainer .trackTableHeader {
  display: grid;
  grid-template-columns: 0.25fr 1fr 3fr 1fr;
  grid-row: 1fr;
  grid-template-areas:
    "closeButton albumImg albumInfo links"
    "closeButton albumImg albumInfo albumStats"
  ;
  gap: var(--p-5);
  padding: var(--p-3);
  margin-bottom: var(--m-2);
  background-color: var(--bg-dark-1);
  border-bottom: 1px solid var(--bg-dark-2) ;
}

.trackTableHeader .closeOverlayButton {
  --btn-size: 3rem;
  grid-area: closeButton;
  cursor: pointer;
  color: var(--grey-100);
  font-size: 1rem;
  text-align: center;
  height: var(--btn-size);
  width: var(--btn-size);
  aspect-ratio: 1/1;
  /* padding: var(--p-1); */
  border-radius: 50%;
}

.trackTableHeader .trackTableHeaderImg {
  grid-area: albumImg;
  width: 10rem;
  aspect-ratio: 1/1;
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* Spotify requirements */
  border-radius: 4px;
}

.trackTableHeader h2,
.trackTableHeader h3,
.trackTableHeader p {
  padding: 0;
  margin: 0;
}

.trackTableHeader .trackTableHeaderAlbumInfo,
.trackTableHeader .trackTableHeaderAlbumStats {
  text-align: left;
  display: flex;
  align-self: end;
  justify-content: space-between;
}

.trackTableHeader .trackTableHeaderAlbumInfo {
  grid-area: albumInfo;
  flex-direction: column;
}
.trackTableHeader .trackTableHeaderAlbumInfo h2 {
  font-size: 2.5rem;
}
.trackTableHeader .trackTableHeaderLinks {
  grid-area: links;
  gap: var(--p-4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.trackTableHeader .faradayLinkLogo {
  width: 28px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
}
.trackTableHeader .trackTableHeaderAlbumStats {
  grid-area: albumStats;
  gap: var(--p-3);
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Spotify Requirements */
.albumItemSoldOut {
  grid-area: albumInfo;
  align-self: flex-start;
  justify-self: flex-end;
  --size: 10px;
  content: '';
  /* position: absolute; */
  width: fit-content;
  min-width: fit-content;
  border-radius: 6px;
  padding: 0 var(--p-2);
  background-color: rgb(196, 74, 74);
  top: 2px;
  left: -20%;
  font-weight: light;
  font-size: small;
}

/* .albumItemSoldOut {
  content: '';
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 0;
} */

@media screen and (max-width: 430px) {
  .trackTableContainer .trackTableHeader {
    /* grid-template-areas:
    "closeButton albumImg albumInfo links"
    "closeButton albumImg albumInfo albumStats"
  ; */
    grid-template-areas:
      "closeButton albumImg links"
      "closeButton albumImg links"
      "closeButton albumInfo albumStats"
    ;
    grid-template-columns: 0.25fr 3fr 1fr;
    grid-row: 1fr 1fr 1fr;
  }
}
