
.player {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
  max-height: 48px;
  /* justify-content: space-around; */
}

.playerImg{
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  content: '';
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.playerTrackInfo{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.playerTrackInfo p {
  margin: 0;
  padding: 0;
}
.playerTrackInfo p:first-child {
  font-weight: 800;
}
.playerTrackInfo p:nth-child(2) {
  font-size: 0.9rem;
}

.player fieldset {
  /* reset fieldset inherited styles */
  min-inline-size: min-content;
  margin-inline: 2px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: none;
  padding-block: 0;
  padding-inline: 0;
  /* custom styles here */
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: flex-end;
  flex: 1;
}
.player fieldset button {
  --button-size: 2.5rem;
  font-size: .8rem;
  text-align: center;
  min-width: var(--button-size);
  min-height: var(--button-size);
  max-width: var(--button-size);
  max-height: var(--button-size);
  overflow: hidden;
}
.player fieldset button:active{
  background-color: #73737378;
}
.player fieldset button.muteButton.isMuted {
  background-color: #73737378;
}
.timeContainer{
  display: flex;
}

.progressBarContainer {
  width: 200px;
  background-color: #e0e0e0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure the progress bar stays inside the container */
  height: 5px; /* Height of the progress bar */
}

.progressBar {
  height: 100%; /* Fill the height of the container */
  width: 0%; /* Initial width */
  background-color: #76c7c0; /* Progress bar color */
  transition: width 750ms ; /* Smooth width transition */
}

/* Mobile size layout */
@media screen and (max-width: 820px) {
  .smScreenProgressBar{
    display: none;
  }
}
/* Mobile size layout */
@media screen and (max-width: 430px) {
  .player {
    max-width: 430px ;  
    font-size: small;
    display: grid;
    grid-template-areas: 
      "img trackInfo controls"
      "progress-bar progress-bar progress-bar ";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 9fr 1fr;
    gap: var(--g-2);
    padding: var(--p-1);
  }
  .playerImg{
    width: 2rem;
    height: 2rem;
  }
  .player fieldset {
    display: grid;
    grid-template-areas: 
      "time play mute";
    gap: .2rem;
  }
  .player fieldset button {
    --button-size: 2rem;
    font-size: .2rem;
  }
  .playButton{
    grid-area: play;
  }
  .timeContainer{
    grid-area: time;
  }
  /* .timeContainer p:first-of-type {
    display: block;
  }
  .timeContainer p {
    display: none;
  } */
  .progressBarContainer {
    grid-area: progress-bar;
    display: none;
  }
  .muteButton{
    display: none;
    grid-area: mute;
  }
  .smScreenProgressBar{
    display: block;
    width: 100%;
  }
}
