#root {
  max-width: calc(100% - 0rem);
  text-align: center;
}

.appLayout {
  display: grid;
  grid-template-areas:
    "header header"
    "left-sidebar right-sidebar";
  grid-template-columns: 220px 6fr;
  grid-template-rows: auto 3fr;
  max-height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
  gap: var(--g-4);
  /* margin-left: var(--m-4);
  margin-right: var(--m-4); */
}

/* Tablet size layout */
@media screen and (max-width: 820px) {
  .appLayout {
    grid-template-areas:
    "header header"
    "left-sidebar left-sidebar"
    "right-sidebar right-sidebar";
    grid-template-columns: 6fr;
    grid-template-rows: auto auto 3fr;
    gap: var(--g-1);
  } 
}

/* Mobile size layout */
@media screen and (max-width: 430px) {
  .appLayout {
    grid-template-areas:
    "header header"
    "right-sidebar right-sidebar"
    "left-sidebar left-sidebar";
    grid-template-columns: 6fr;
    grid-template-rows:  auto 1fr 65px;
    gap: var(--g-0);
    max-width: 430px;
  } 
}