/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_tracks {
  display: table;
  border-spacing: 0;
  margin: 0 auto;
  width: calc(100% - 4rem)
}

.table_tracks tr {
  display: table-row;
}

.table_tracks th {
  display: table-header;
  text-align: left;
  cursor: pointer;
}

.table_tracks td {
  display: table-cell;
}

.table_tracks th,
.table_tracks tr,
.table_tracks td
{
  margin: 0;
  padding: 0;
  cursor: default;
}

.table_tracks .trackRows {
  background: inherit;
  text-align: left;
}


/* Mobile size layout */
@media screen and (max-width: 430px) {
  .table_tracks {
    width: calc(100% - 1.25rem)
  }
  .table_tracks td {
    min-width: 30px;
  }
}