.table_tracks td.trackRowDataImg {
  /* width: 2rem; */
}

.trackRowDataImg {
  width: 2rem;
  aspect-ratio: 1/1;
  content: '';
  /* for bg-image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0;
}

.rowDataTrack {
  padding-left: 0em;
}

.rowDataTrack p {
  margin: 0;
  padding: 0;
}

.rowDataTrack p:first-child {
  font-weight: 800;
}
.rowDataTrack p:nth-child(2) {
  font-size: 0.9rem;
}
