/* 
table {}
thead {}
tbody {}
tr {}
td {} 
*/

/* reset margins and padding */
.table_albums {
  border-spacing: 0;
  margin: 0 auto;
}
.table_albums tr,
.table_albums td
{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.table_albums .albumRows {
  /* background: inherit; */
  background: forestgreen;
  text-align: left;
}
.table_albums .albumRows:hover {
  background: rgba(201, 201, 200, 0.411);
}


/* Album Track list styles */
/* Container start state */
.table_albums .albumTrackList {
  /* This will have height 0 => auto transition */
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

/* Child start state */
.table_albums .albumTrackList > td {
  /* start value of hidden */
  overflow: hidden; 
}

/* Container open state */
.table_albums .albumTrackList.albumTrackListOpen {
  grid-template-rows: 1fr;
}