
.headerAlbumView > *,
.headerAlbumView {
  padding: 0;
  margin: 0;
}

/* Shared with headerPlaylistView */
.headerAlbumView{
  background-color: rgb(186, 66, 66);
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  justify-content: space-between;
  gap: .5em;
  border-bottom: 1px solid #252525;
  position: sticky;
  top: 0; /* Stick to the top of the container */
  z-index: 100;
  background-color: grey;
}

.headerAlbumView p {
  font-size: 1.1rem;
}