.tooltip {
  --anchor-name: --anchor-id;
  position: popover;
  display: inline-block;
  padding: 0;
  margin: 0;
  anchor-name: var(--anchor-name);
}

.popover {
  display: inline;
  position: absolute;
  position-anchor: --anchor-id;
  right: anchor(left);
  top: anchor(center);

  min-width: max-content;
  height: fit-content;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  margin-top: 0px;
  margin-right: 0px;
  padding: 0.5em;
}

/* Position Options */
.popover.popoverLeft {
  right: anchor(left);
  top: anchor(center);
}

.popover.popoverRight {
  top: anchor(center);
  left: calc(anchor(right) + 110%);
}

.popover p {
  padding: 0;
  margin: 0;
}

.tooltip[popovertarget]:hover .popover {
  opacity: 0.8;
}
